body {
	/*background: linear-gradient(to bottom, red, yellow);*/
	background: linear-gradient(to bottom, rgb(74, 83, 220), rgb(37, 120, 58));
	/*background-color: rgba(255, 121, 0, 0.3);*/
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family:Lucida Sans Unicode;
	font-size: 12px;
}

.zone {
	margin: 0.5em 10em;
	background-color: whitesmoke;
	/*background: linear-gradient(to bottom, whitesmoke, #145873);*/
	border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .zone {
    	margin: 0.5em 3em;
    }
}

@media only screen and (max-width: 300px) {
    .zone {
    	margin: 0.5em 1em;
    }
}

.header {

}

.header ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.header ul li {
	padding: 0 5px;
}

.profile {
	display: flex;
	justify-content: space-between;
}

.profile div {
	margin: 1em 3em;
	width: 70%;
	text-align: left;
}

.profile img {
	padding: 5px;
	width: 15%;
	height: 200px;
	border-radius: 10px;
}

div.handles {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

div.handles ul {
	list-style-type: none;
	padding: 0px 0px 0px 20px;
	margin: 0px;
	display: flex;
	flex-direction: row;
}

div.handles ul li {
	padding: 0px 5px;
}

div.handles ul li img{
	width: 50px;
	height: 50px;
}

div.skills {
	height: 300px;
	display: flex;
	flex-direction: row;
}

div.skillList {
	width: 80%;
	height: 100%;
	overflow: scroll;
}

div.skillList ul {
	list-style-type: none;
	padding: 0px 40px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

div.skillList ul li{
	justify-content: center;
	align-content: center;
	border-radius: 10px;
	border: 1px solid grey;
}

div.skillList ul li img{
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

div.skillShow {
	padding: 2%;
	/*width: 26%;*/
	width: 300px;
}

li.highlight {
	background-color: #145873;
	background-color: rgba(74, 83, 220, 0.5);
}

div.skillShow canvas{
	border: 1px solid grey;
	border-radius: 20px;
	width: 100%;
	height: 90%;
}

#subject {
	width: 100%;
	height: 10%;
	margin: 2px;
	padding: 5px;
}

.employment {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 3fr;
	padding: 30px;
}

.timeline {
	margin: 0 10px;
	padding: 10px;
}	

.details {
	margin: 0 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	text-align: left;
}







.footer {

}

.footer ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.footer ul li{
	margin: 0px 5px;
	padding: 0px 5px;
}

.footer ul li img{
	width: 20px;
	height: 20px;
}

.footer p{
	font-size: .8em;
}